:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
 
  color-scheme: light dark;
  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;

  gap: 6px;

  justify-items: center;
  align-items: center;
}

.title{
  font-size: 4em;
  line-height: 1.5;
  font-weight: 700;
  color: #8D021F;
}

.phase-description{
  font-size: 2.5em;
  font-weight: 400;
}

.timer {
  font-size: 4em;
  font-weight: 700;
}

.blink {
    animation: blink-animation 1s infinite;
  }
  
  @keyframes blink-animation {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


.main-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.3em;
  font-weight: 500;
  font-family: inherit;
  color: rgba(255, 255, 255, 0.87);
  background-color: #8D021F;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 1em 1em 0 1em;
}

.main-button:hover {
  background-color: #a60324;
}

.main-button:active {
  transform: scale(0.97);
}

/*Used outline none to remove the thin black default outline that is a visual
  indicator for users that navigate by keyboard*/
.main-button:focus {
  outline: none;
}

/*Replaced the default outline by a a new visual indicator (A shadow
  with x and y offset 0, blur 0 therefor shar edges and a spred of 
  3px) when focus-visable decides (via a heuristic), that an element 
  should have focus*/ 
.main-button:focus-visible {
  box-shadow: 0 0 0 3px rgba(255,255,255,0.6);
} 

.secondary-button{
  border-radius: 8px;
  border-color: #8D021F;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.3em;
  font-weight: 500;
  font-family: inherit;
  color: #8D021F;
  background-color: rgba(194, 178, 178, 0.87);
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 1em 1em 0 1em;
}

.secondary-button:hover {
  background-color: #d3cacb;
}

.secondary-button:active {
  transform: scale(0.97);
}

/*Same procedure as above with the main-button*/
.secondary-button:focus {
  outline: none;
}

.secondary-button:focus-visible {
  box-shadow: 0 0 0 3px rgba(255,255,255,0.6);
}   